<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/admin.css">
</head>
<body>
    <h3>Admin Dashboard</h3>
    
    <h4>Pets</h4>
    <div class="pet-grid">
        <% pets.forEach(pet => { %>
            <div class="pet-card">
                <div class="image-container">
                    <!-- Ensure the correct image field is being used -->
                    <img src="<%= pet.imageUrl %>" alt="<%= pet.name %>">
                </div>
                <div class="pet-info">
                    <a href="/pets/pet-profile/<%= pet._id %>" class="pet-profile-link">
                        <h3><%= pet.name %></h3>
                    </a>
                    
                    <p><%= pet.age %> years old</p>
                    <p><%= pet.breed %></p>
                        <a href="/pets/edit/<%= pet._id %>"><button type="submit">Edit Pet</button></a>

                    <form action="pet/delete/<%= pet._id %>" method="POST">
                        <button type="submit">Delete Pet</button>
                    </form>
                </div>
            </div>
        <% }); %>
    </div>
    <hr><hr><hr><hr>
    <h4>Users</h4>
    <div class="user-grid">
        <% users.forEach(user => { %>
            <div class="user-card">
                <div class="user-info">
                    <h3><%= user.username %></h3>
                    
                    <p><%= user.email %></p>
                    <form action="user/delete/<%= user._id %>" method="POST">
                        <button type="submit">Delete User</button>
                    </form>
                </div>
            </div>
        <% }); %>
    </div>

    <div id="home">
        <a href="/pets"><button type="submit">Home</button></a>
    </div>

</body>
</html>