<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/pd.css">
    <title>Pet Profiles</title>
</head>
<body>
    <header>
        <div class="logo"><img src="../public/images/logo1.png" alt="logo"></div>
        <nav>
            <a href="/pets">Home</a>
            <a href="/pets/addPet">Add Pet</a>
            <a href="/pets/gallery">Gallery</a>
        </nav>
    </header>
    <div class="container">
        <main>
            <div class="pet-info">
                <h2><%= pet.name %></h2>
                <div class="details">
                    <p><strong>Breed:</strong> <%= pet.breed %></p>
                    <p><strong>Age:</strong> <%= pet.age %></p>
                    <p><strong>Description:</strong> <%= pet.description %></p>
                    <p><strong>Behavior:</strong> <%= pet.behavior %></p>
                    <p><strong>History:</strong> <%= pet.history %></p>
                </div>
            </div>
            <div class="pet-image">
                <img src="<%= pet.image %>" alt="<%= pet.name %>">
            </div>
        </main>
        <hr>
        <section class="contact">
            <h3>Owner Contacts:</h3>
            <p><%= pet.ownerEmail %></p>
            <textarea placeholder="Message:"></textarea>
            <button>Email</button>
        </section>
    </div>
</body>
</html>
